* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    font-family: 'Nunito', sans-serif;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.arrow-left,
.arrow-right {
    margin: 50px;
    font-size: 30px;
    cursor: pointer;
    color: rgba(68, 68, 68, 0.753);
    transition: 0.5s;
}

.arrow-left:hover,
.arrow-right:hover {
    transform: scale(1.5);
}

.image {
    position: relative;
}

.image img {
    width: 900px;
    display: none;
    border-radius: 5px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 30px;
    background-color: rgba(68, 68, 68, 0.753);
    width: 200px;
    height: 40px;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -10%);
    transition: 1s;
}

.slider:hover {
    width: 250px;
    height: 50px;
}

.slider .circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.slider .circle:hover {
    transform: scale(1.5);
}

.slider .active-circle {
    background-color: red;
}

.image .active {
    display: block;
}